$sanford-dark-blue: #00437E;
$sanford-light-blue: #62A5DB;
$mid-grey: #767676;
$light-grey: #AAAAAA;
$forrest-green: #2CC36B;

.colour-dark-blue { color: $sanford-dark-blue; }
.colour-light-blue { color: $sanford-light-blue; }
.colour-mid-grey { color: $mid-grey; }
.colour-light-grey { color: $light-grey; }
.colour-forrest-green { color: $forrest-green; }