html {
  height: 100%;
  font-size: 14px !important;
}
body {
  background-color: #fafafa;
  height: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, Lato, sans-serif !important;
}
body p {
  font-family: "Helvetica Neue", Helvetica, Arial, Lato, sans-serif !important;
}

div#root,
div#root > div,
div#root > div > div {
  height: inherit;
}

@media print {
  #progress-bar-container {
    visibility: hidden;
  }
  #submit-modal {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  .question-container {
    border: none !important;
    margin-bottom: 0px !important;
    page-break-inside: avoid;
  }
}

.form-control {
  font-size: inherit;
}
