body {
  background-color: #FAFAFA;
}

@media print {
  #progress-bar-container {
    visibility: hidden;
  }
  #submit-modal {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  .question-container {
    border: none !important;
    margin-bottom: 0px !important;
    page-break-inside: avoid;
  }
}

.form-control{
  font-size: inherit;
}